@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.header{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    h3{
        text-decoration: underline;
    }
}
.TodoList {
    width: 300px;
    height: 600px;
    background-color: #EFD67F;
    text-align: center;
    color: #1E1E1E;
    font-family: "Indie Flower", cursive;


    .add{
       background-color: #1E1E1E;
       width: 40%;
       padding: 10px 0 10px 0;
       border-radius: 21px;
       margin-left: 30%;
       margin-top: 12px;
       color: white;
    }
    ul{
        max-height: 60%;
        overflow: auto;
        li{
            list-style: none;
            text-decoration: underline;
            text-align: left;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
                .spans{
                    width: 10px;
                    color: red;
                    font-size: 4px;
                    font-family: "Indie Flower", cursive;

                }
            
           
        }
    }
    .AddNew{
        position: absolute;
        top: 70%;
        p{
            cursor: pointer;
        }

    }
}