.myForm {
    width: 300px;
    height: 200px;
    background-color: rgb(75, 237, 145);
    text-align: center;
    h3{
        color: black;
        padding-top: 30px;   
        span{
            color: red;
        } 
    }
    input{
        width: 60%;
        margin-top: 1px;
        height: 18px;
    }
}